@import "tailwindcss";

:root {
  --color-background: 0 0% 100%;
  --color-foreground: 240 10% 3.9%;
  --radius: 0.5rem;
}

.dark {
  --color-background: 240 10% 3.9%;
  --color-foreground: 0 0% 98%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: hsl(var(--color-foreground));
  background-color: hsl(var(--color-background));
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100vh;
}

